<div class="auth-page">
  <div class="auth-card">
    <div class="auth-header">
      <span class="auth-logo">⬡</span>
      <h1>{{ settings.acronyme() }}</h1>
      <p>{{ i18n.t('auth.reset_titre') }}</p>
    </div>

    <div class="auth-form">
      @if (erreur()) {
        <div class="error-msg"> {{ erreur() }}</div>
      }
      @if (message()) {
        <div class="success-msg"> {{ message() }}</div>
      }

      <div class="field">
        <label>{{ i18n.t('auth.email') }}</label>
        <input type="email" [(ngModel)]="email" placeholder="votre@email.tn" />
      </div>

      <button class="btn-submit" (click)="onSubmit()" [disabled]="loading()">
        {{ loading() ? i18n.t('auth.envoi_encours') : i18n.t('auth.reset_btn') }}
      </button>

      <a routerLink="/login" class="forgot-link">{{ i18n.t('auth.retour_login') }}</a>
    </div>
  </div>
</div>